/* styles/overlay2.module.css */
.wrapper {
    border-radius: 110px;
    /* Скруглені кути */
    box-shadow: 0 20px 6px rgb(179, 28, 28);
    /* Тінь */
    background-color: transparent;
    /* Фоновий колір */
    padding: 20px;
    /* Відступи */
}

/* Стилі для вмісту */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Вирівнювання тексту по центру */
}

.h2 {
    margin-bottom: 10px;
    /* Маргіналі для заголовка */
}

.p {
    color: rgb(172, 157, 157);
    /* Колір тексту */
}