/* styles/overlay.module.css */

.wrapper {
    width: 1920px;
    height: 1080px;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    color: transparent;
    -webkit-text-stroke: 5px black;
    outline: 8px solid black;
    font-size: 140px;
    font-weight: bolder;
    text-align: center;
}
